body {
     margin: 0;
     padding: 0;
     background: #fff;
     overflow: hidden;
     user-select: none;
}

#header {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

#page-title {
     font: 16px 'Open Sans', sans-serif;
     font-size: 2em;
     font-weight: 500;
}

 #globe-container {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
}

#globe-container svg, 
#globe-container canvas {
    position: absolute; 
    top: 0;
    left: 0;
}

#globe {
     fill: #f2f2f2;
     stroke: #000;
     stroke-width: 0.25px;
}

.countries {
     stroke: #000;
     stroke-width: 0.25px;
}

 #tooltip {
     position: absolute;
     text-align: left;
     width: auto;
     height: auto;
     padding: 10px;
     font: 14px 'Arial', sans-serif;
     background: #f9f9f9; 
     border: 1px solid #ddd; 
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
     border-radius: 5px; 
     pointer-events: none;
     color: #333; 
     opacity: 0.9;
     line-height: 1.6; 
 }

 #name-flag-container{
     display: flex;
     flex-direction: row;
     gap: 10px;
 }
 
 #tooltip img {
     height: 25px;
     width: 45px;
     border: 1px solid #ccc;
     border-radius: 2px;
}